$primary-color: #670b0b;
$secondary-color: #f1f1f1;
$accent-color: #717171;
$text-color: #fff;
$secondary-text: #000;
$font-size: 1.2rem;

$font-weights: (
  "normal": 400,
  "medium":500,
  "bold":600,
);

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 70%;
  margin: 0 auto;

  #{&}__para1 {
    font-weight: map-get($font-weights , normal);
    font-size: $font-size;

    &:hover {
      color: $accent-color;
    }
  }

  #{&}__para2 {
    font-weight: map-get($font-weights , bold);
  }
}