@import "./index";

@function weights($weight-name) {
  @return map-get($font-weights , $weight-name );
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.light {
  @include theme(true)
}

.main {
  @include flexCenter();
  width: 70%;
  margin: 0 auto;
  padding: $padding;

  #{&}__para1 {
    font-weight: map-get($font-weights , normal);
    font-size: $font-size;

    &:hover {
      color: $accent-color;
    }
  }

  // #{&}__para2 {
  //   font-weight: weights(bold);
  // }
  #{&}__para2 {
    @extend .main__para1
  }
}